.button {
	border: none;
    background-color:#f47321; text-align:center;
    padding: 8px 8px;
    border-radius: 5px;
    /*color:#999; */
}
.button:hover {
    border: none;
    background-color:#aed57c; text-align:center;
    padding: 8px 8px;
    border-radius: 5px;
}

.Words {
	width: 50px;
}

.echo{
		
    background-color:#aed57c; text-align:center;
    padding: 15px 15px;
   /* border-radius: 5px; */
    color:#2b2829;
    /*border-width: 50px 20px 50px 20px;*/

}

.welcome, h2 {

/*color:#f39c12; */

color:#3B444B;
}


body {
	color:#aeb57c; text-align:center; float:relative;
padding: 20px; font-weight:lighter; background-image: url("img/DevelopersEconomics_01.jpg");
}

p, .ptext {
	/*color:#f47321;
color: #CCFFFF;*/
/*color:#C9FFE5;*/

color:#FFFFFF;
}

h3 {
/*color:#5D8AA8;
color:#aed57c;*/

color:#3B444B;
}

img, a {
	margin:auto; display:block; 
}

.lig, .rug {
    width: 35%;
	height: 400px;
  padding: 25px; 
    border: 10px solid #C9FFE5;
	box-shadow: 10px 10px 5px #888888;
    margin: 50px;
	float: left; /*position:relative;*/

{